@media (max-width: 995px) {
    
    .card li {
        width: calc(50% - 20px);
    }
}

@media (max-width: 770px) {
    
    .card li {
        width: 100%;
    }

    .rightSection,
    .leftSection {
        width: 100%;
        position: inherit;
        margin: 0 auto; 
    }

    .box {
        width: 100%; 
        text-align: center;
    }

    .charts {
        flex-direction: column;
    }

    nav li {
        font-size: 15px;
    }

    nav li:nth-child(2){
        visibility: hidden;
    }

    .rightSection {
        width: 60%; 
    }
}
// smaller screens
@media (max-width: 450px) {

    nav li:first-child {
        padding-left: 15%;
    }

    h1.wrapper {
        padding-top: 15%; 
    }

    nav button {
        font-size: 15px;
    }
}
