

li {
  list-style: none;
  font-size: 18px;
  padding: 0 1% 0 1%;   
}

button:focus,
button:focus-within,
button:visited {
  border: 1px solid white;
  background-color: #04426F; 
}

button:hover {
  background-color: #04426F;
}

.navFlexContainer {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.asideFlexContainer {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

button:hover,
li:hover {
  cursor: pointer;
}

.box li:hover {
  cursor: default;
}